@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1 { max-width: 40%; }

.hamburger {
  width: 10px;
  height: 5px;
  padding: 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.bar {
  width: 19px;
  height: 2px;
  padding: 0px;
  margin: 1.5px;
  display: block;
  background-color: #3B3B3B;
  text-indent: -9999px
}

nav ul li:not(li:last-child),
.search-text { display: none; }

header .wrapper,
nav { display: flex; }

/* header {
  position: absolute;
  top: 10px;
} */

header {
  position: absolute;
    top: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

header .wrapper {
  align-items: center;
  justify-content: space-between;
}

nav {
  align-items: center; 
  gap: 10px;
 }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner section start*/
.banner-section {
  width: 100%;
  height: auto;
  /* padding-top: 60%; */
  background: url(/assets/Images/banner.jpg) no-repeat center center/cover;
}

.banner-section .wrapper { 
  padding-top: 60%;
  position: relative;
}

h2 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.banner-content p {
  margin-bottom: 10px;
  color: #A4A6A9;
  font-size: 9px;
  letter-spacing: 1px;
}

.read-more a {
  color: #C0C5C6;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px 4%;
  background: transparent;
  border: 1px solid #ff0000;
}

.icon {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}

.icon::before {
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
  text-indent: 0;
}

.btn::before { content: '\f002' }

.btn {
  border: none;
  background-color: transparent;
  color: #fff;
}

.arrow,
.prev,
.next { position: absolute; }

.arrow {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.prev { 
  width: 20px;
  height: 20px;
  left: 0;
}

.next { right: 0; }

.prev::before,
.next::before {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev::before { content: '\f053'; }
.next::before { content: '\f054'; }

.prev,
.next { background: #000; }

.banner-content .read-more { padding-bottom: 20px; }
/*banner section end*/

/*card section start*/
.card-section { padding-top: 20px; }

h3 { 
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.card-content p,
.latest-section p {
  font-size: 11px;
  line-height: 19px;
  text-align: justify;
}

.card-section .wrapper > figure { margin-bottom: 20px; }

.card-content p:nth-of-type(1) { margin-bottom: 7px; }
.card-content p:nth-of-type(2) { margin-bottom: 10px; }

.card-content .read-more a,
.latest-section .read-more a { 
  margin-bottom: 25px;
  color: #333;
}

.card-section-right figure { margin-bottom: 20px; }

h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.latest-section p { margin-bottom: 10px; }
/*card section end*/



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer figure {
  max-width: 40%;
  margin: 0 auto;
}

footer p { 
  color: #999;
  font-size: 9px;
}

/* .facebook { content: '\f09a';} */

.social-icons li a {
  width: 25px;
  height: 25px;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  position: relative;
  color: #fff;
}

.icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "FontAwesome";
  font-size: 15px;
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.facebook::before { content: '\f09a';}
.twitter::before { content: '\f099'; }
.ball::before { content: '\f1e3'; }
.pinterest::before { content: '\f231'; }


/* .footer-icon {
  display: inline-block;
  text-indent: -9999px;
}
*/
.social-icons {
  display: flex;
  justify-content: center;
}

footer { background-color: #0E0F10; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  