@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1 { max-width: 40%; }

.bar::before {
  color: #fff;
  content: '\f0c9';
}

/* nav ul li:not(li:last-child), */
/* .search-text { display: none; } */

/* header .wrapper,
nav { display: flex; } */

header {
  position: absolute;
  top: 10px;
  width: 100%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 2;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav { */
  /* display: none; */
  /* align-items: center; 
  gap: 15px;
} */

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .nav-link { display: none; } */
.search-text { display: none; }

 .dropdown a::after {
  content: '\f078';
  font-family: "FontAwesome";
  color: #999;
  font-size: 9px;
 }

 nav ul { position: relative; }

 .nav-link { 
  position: absolute;
}

.sub-menu {
  position: absolute;
    display: flex;
    flex-direction: column;
    right: 75px;
    width: 150px;
    top: 0px;
}

.dropdown { width: 70px; }
.nav-link:nth-of-type(1) { top: 30px;} 
.nav-link:nth-of-type(2) { top: 50px;} 
.nav-link:nth-of-type(3) { top: 70px;} 
.nav-link:nth-of-type(4) { top: 90px;} 
.nav-link:nth-of-type(5) { top: 110px;} 

nav ul li a { 
  font-size: 9px;
  color: #999;
  text-transform: uppercase;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner section start*/
.banner-section {
  width: 100%;
  height: auto;
  /* padding-top: 60%; */
  background: url(/assets/Images/banner.jpg) no-repeat center center/cover;
}

.banner-section .wrapper { 
  min-height: 350px;
  position: relative;
}

h2 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

h2::first-letter,
.banner-content p::first-letter { text-transform: uppercase; }

.banner-content p {
  margin-bottom: 10px;
  color: #A4A6A9;
  font-size: 9px;
  letter-spacing: 1px;
}

.read-more a {
  color: #C0C5C6;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px 4%;
  background: transparent;
  border: 1px solid #ff0000;
}

.icon {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}

.icon::before {
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
  text-indent: 0;
}

.btn::before { content: '\f002' }

.btn {
  border: none;
  background-color: transparent;
  color: #fff;
}

.arrow,
.prev,
.next { position: absolute; }

.arrow {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.prev,
.next { 
  width: 20px;
  height: 20px;
  padding: 3px;
}

.prev { left: 0; }
.next { right: 0; }

.prev::before,
.next::before {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev::before { content: '\f053'; }
.next::before { content: '\f054'; }

.prev,
.next { background: #000; }

.banner-content .read-more { padding-bottom: 20px; }

.banner-content {
  position: absolute;
  bottom: 30px;
}

.bar,
.btn {
  width: 30px;
  height: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

/*banner section end*/

/*card section start*/
.card-section { padding-top: 20px; }

h3 { 
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.card-content p,
.latest-section p {
  color: #888;
  font-size: 11px;
  line-height: 19px;
  text-align: justify;
}

.card-section .wrapper,
.card-section-right { 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-section { padding: 20px 0; }

/* .card-section .wrapper > figure { margin-bottom: 20px; } */
.card-content p:nth-of-type(1) { margin-bottom: 7px; }
.card-content p:nth-of-type(2) { margin-bottom: 10px; }

.card-content .read-more a,
.latest-section .read-more a { color: #333; }

/* .card-section-right figure { margin-bottom: 20px; } */

h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.card-content .read-more,
.latest-section .read-more { 
  /* margin-bottom: 25px; */
  display: flex;
  justify-content: center;
}

.close::before {
  color: #999; 
  content: '\f00d';
}

.modal-box {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed; 
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); 
  z-index: 1;
}

.modal-content { 
  width: 365px;
  padding: 36px 15px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 10px;
  right: 23px;
}

.modal-content ul {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 15px;
}

.modal-content ul li {
  padding: 5px 2%;
  border-radius: 3px;
  background-color: #666;
  color: #fff;
}

.modal-content ul li:nth-of-type(1) { background: #676E76; }
.modal-content ul li:nth-of-type(2) { background: #0474F0; }

.modal-content ul li a { color: #fff; }
/* .card-section-right { position: relative; } */

.show { display: block; }
.hide { display: none; }

/*card section end*/

/*latest section start*/
.latest-section { 
  padding: 20px 0;
  background-color: #F4F4F2;
}

.latest-section p { margin-bottom: 10px; }
/*latest section end*/




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer figure {
  max-width: 40%;
  margin: 0 auto;
}

footer p { 
  color: #999;
  font-size: 9px;
  text-align: center;
}

/* .facebook { content: '\f09a';} */

.social-icons li a {
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  border-radius: 50%;
  position: relative;
  color: #555;
}

.icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "FontAwesome";
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.social-icons li a::before { font-size: 9px; }
.facebook::before { content: '\f09a';}
.twitter::before { content: '\f099'; }
.ball::before { content: '\f1e3'; }
.pinterest::before { content: '\f231'; }


/* .footer-icon {
  display: inline-block;
  text-indent: -9999px;
}
*/
.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer { 
  padding: 15px 0;
  background-color: #0E0F10;
}

footer figure,
.footer-bottom p{ margin-bottom: 10px; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.icon::before { font-size: 18px; }
/* nav { gap: 20px; } */

.card-content p, .latest-section p { 
  font-size: 13px;
  line-height: 26px;
}
/* .card-section .wrapper > figure,
.card-section-right figure { margin-bottom: 30px; } */

/* .card-section { padding-top: 35px; } */
.card-content p:nth-of-type(2) { margin-bottom: 15px; }

.read-more a {
  padding: 6px 5%;
  font-size: 10px;
}

h3,
h4 { margin-bottom: 15px; }

/* .card-content .read-more,
.latest-section .read-more { margin-bottom: 50px; } */

footer { padding: 30px 0; }
/* 
footer figure,
.footer-bottom p { margin-bottom: 15px; } */

footer p { font-size: 10px; }
.social-icons li a { border: 2px solid #555; }
} 

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
  .card-section .wrapper,
  .card-section-right { gap: 30px; }

.card-section,
.latest-section { padding: 35px 0; }
} 

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
.banner-section .wrapper { min-height: 500px; }

h2 { 
  margin-bottom: 15px;
  font-size: 38px;
}

.banner-content p { 
  margin-bottom: 20px;
  font-size: 11px;
}

.icon::before { font-size: 25px; }
/* nav { gap: 30px; }   */

nav ul,
form { display: flex; }

.sub-menu { position: absolute; }
form input { width: 80%; }

/* nav ul li:not(li:last-child) {
  position: relative;
  top: 49px;
  left: 46%;
} */

/* nav { position: relative; }

nav ul {
  position: absolute;
  top: 47px;
  right: 0px;
  gap: 20px;
  text-transform: uppercase;
  font-size: 13px;
} */
/* 
nav ul li:nth-of-type(4) { position: relative; } */

.sub-menu {
  position: absolute;
  top: 30px;
  right: 50px;
  flex-direction: column;
}

nav ul li a { 
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

.dropdown { width: 87px; }
.search-text { display: none; }
.nav-link { right: 0; }
/* nav {
  display: none;
  position: absolute;
  right: 0px;
  top: 60px
} */

header .wrapper { position: relative; }
nav ul { gap: 20px; } 

.card-section .wrapper {
  width: 100%;
  display: flex;
}

.card-section figure,
.card-section-right { flex-basis: 50%; }

.card-content p {
  font-size: 11px;
  line-height: 20px;
}

.card-content { padding: 20px 5%; }
.card-content .read-more { margin-bottom: 10px; }

.card-section figure img { 
  min-height: 100%;
  object-fit: fill;
}

.card-section .wrapper {
  flex-direction: row;
  gap: 0;
}

.card-section { padding:  0; }
.latest-section .wrapper { width: 70%; }
}


/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
.hamburger { display: none; }

nav { 
  display: block;
  position: static;
}

header .wrapper { 
  flex-direction:  column;
  gap: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon::before { font-size: 15px; }
/* nav ul li a { padding: 5px 10%; } */
.sub-menu { display: none; }
.nav-link { position: static; }
} 


/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {



} 

/*media query for 1536px starts here*/
@media only screen and (min-width: 1536px) {

.banner-section .wrapper { min-height: 632px; }
header { padding-top: 56px; }
header .wrapper { gap: 28px; }

.nav-container {
  width: 543px;
  justify-content: space-between;
}

nav { flex-basis: 90%; }

.nav-anc.active,
.nav-anc:hover { 
  color: #ff0000;
  border: 2px solid #999;}

nav ul,
.dropdown { gap: 8px; } 

h2 { margin-bottom: 0px; }
.banner-content { bottom: 100px;}

nav ul li { 
  /* padding: 6px 20px; */
  flex: 1 1 20%;
}

nav ul li a {
  padding: 6px 20px;
  font-size: 9px;
  letter-spacing: 1px;
}

/* .nav-link:nth-of-type(1) { border: 2px solid #999;
} 

.nav-link:nth-of-type(1) a { color: #ff0000;} */

.dropdown { display: flex;}

.banner-section .wrapper { width: 100%; }

h2 { font-size: 84px; }
.banner-content p {font-size: 29px; }
.read-more a { padding: 14px 7.5%; }

.banner-content { 
  padding-left: 156px;
  bottom: 94px;
} 

.arrow { 
  top: initial;
  bottom: 263px;
  transform: none;
}

.prev,
.next { 
  width: 24px;
  height: 40px;
}

.card-section .wrapper,
.banner-section .wrapper { max-width: 1600px; }

.card-section { padding: 0px; }
.card-content { padding: 65px 8.5%; }

h3 {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: initial;
}

.card-content p {
  font-size: 11.8px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: initial;
}

.card-content .read-more { justify-content: flex-start;}

.latest-section .read-more { 
  /* margin-bottom: 76px; */
  justify-content: center;
}

.card-content .read-more a,
.latest-section .read-more a { 
  padding: 12px 4%;
  border: 2px solid #ff0000;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: bold;
  color: #555;
}

.card-content .read-more { margin-bottom: 0px; }

.card-content p:nth-of-type(2) { margin-bottom: 22px; }
.card-section-right img { max-height: 498px; }
.latest-section .wrapper { width: 52%; }
h4 { font-size: 26px; }

.card-section .wrapper > figure,
.card-section-right figure { margin-bottom: 0px; }

.latest-section { padding: 80px 0 75px; }

.latest-section p { 
  margin-bottom: 16px;
  text-align: center;
}

.read-more a { border: 2px solid #ff0000; }

} 
